{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Profile</title>
{% endblock title %}


{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{profile.image.url}}"><h2 class="font-weight-bold">{{profile.user.username}}</h2></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><h3>{{profile.first_name}}</h3></div>
                    <div class="col-md-6"><label class="labels">Surname</label><h3>{{profile.last_name}}</h3></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><h3>{{profile.phone_number}}</h3></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><h3>{{profile.address}}</h3></div>
                    <div class="col-md-12"><label class="labels">Gender</label><h3>{{profile.gender}}</h3></div>
                    <div class="col-md-12"><label class="labels">Birthday</label><h3>{{profile.birth_date}}</h3></div>
                    <div class="col-md-12"><label class="labels">Nationality</label><h3>{{profile.nationality}}</h3></div>
                </div>
                <div class="mt-5 text-center"><a class="btn btn-primary profile-button" href="{% url 'account:profileUpdate' %}">Edit Profile</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}